<nav class="navbar navbar-expand-sm navbar-light fixed-top site-navbar">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}" aria-label="{{ site.data.profile.navbar_name }} home">
            <img class="brand-mark" src="{{ '/assets/images/hachiware-icon.png' | relative_url }}" alt="" width="32" height="32">
            <span>{{ site.data.profile.navbar_name }}</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% for item in site.data.navigation.pages %}
                <li class="nav-item {% if item.name == page.navbar_title %}active{% endif %}">
                    <a class="nav-link" href="{{ item.url | relative_url }}"{% if item.name == page.navbar_title %} aria-current="page"{% endif %}>{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
